body {
    background-color: #2b2b2b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 5rem;
}

.not-render {
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -o-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
}

.render{
    image-rendering: pixelated;
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -o-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
}